.laranja{
    color: #F90;
}
h1{
    font-weight: 700;
    font-size: 49px;
    text-align: center;
    font-family: 'Inter';
}
#logo{
    width: 348px;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
}
p,footer{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
